
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body { 
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline-style: none;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;

}

:root {
  --txtaccent: #fff;
  --txtaccent1: #9d9d9f;
  --textaccent2: #73757e;
  --textaccent3: #484848;
  --txtaccent4: #000;
  --txtaccent5: #e5e5e5;
  --haccent: #0358b8;
  --haccent_withOpacity: #0358b8;
  --haccent2: #022887;
  --bgaccent: #1a1c27;
  --bgaccent_withOpacity: #1a1c27f5;
  --text-dark: #333;
  --text-light: #fff;
  --font-family: "Roboto", Arial, sans-serif;
  --primary-green: #014701; 
  --secondary-green: #005500; 
  --text-dark: #333;
  --font-title: 'Playfair Display', sans-serif; 
  --font-body: 'Arial', sans-serif;
}

/* Carousel */

.carousel {
  width: 100%;
  height: 75vh; 
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Fundo escuro com transparência elegante */
  background: linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.9)
  );

  /* Suavizar a opacidade */
  opacity: 0.9;
  
  /* Adicionar transição para suavizar alterações */
  transition: opacity 0.3s ease-in-out;
}

/* Exemplo de interação ao passar o mouse */
.carousel:hover {
  opacity: 1; /* Totalmente visível no hover */
}


.carousel::before {
  content: ""; /* Elemento vazio para criar o overlay */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  z-index: 1; /* Coloca o overlay acima das imagens */
  pointer-events: none; /* Permite clicar nos elementos abaixo */
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.carousel-slide.active {
  opacity: 1;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
  padding: 10px 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.hamburger {
  display: none;
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
}

.nav-links {
  align-items: center;
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

.navbar-item {
  text-align: center;
  text-decoration: none;
  color: #8c8c8c;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.navbar-item i {
  font-size: 20px;
  margin-bottom: 5px;
  color: #8c8c8c;
  transition: color 0.3s ease-in-out;
}

.navbar-item:hover,
.navbar-item.active {
  color: #007bff;
}

.navbar-item:hover i,
.navbar-item.active i {
  color: #007bff;
}

/* Estilos para dispositivos menores */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none; /* Escondido por padrão */
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
    gap: 20px;
    position: fixed; /* Para centralizar na tela */
    top: 20%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta o deslocamento para o centro exato */
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    width: 80%; /* Largura ajustável para telas menores */
    max-width: 300px; /* Limita a largura máxima */
    z-index: 1000; /* Garante que o menu esteja acima de outros elementos */
    opacity: 0; /* Invisível inicialmente */
    pointer-events: none; /* Desativa cliques inicialmente */
    transition: all 0.3s ease-in-out;
  }

  .nav-links.active {
    display: flex; /* Mostra o menu */
    opacity: 1; /* Totalmente visível */
    pointer-events: auto; /* Permite cliques */
  }
}


.main-container .fade-in {
  opacity: 0; 
  transform: translateY(20px); 
  transition: opacity 1.6s ease-out, transform 1.6s ease-out; 
  text-align: center;
}

.main-container .fade-in.show {
  opacity: 1;
  transform: translateY(0); 
}
/* whatsapp button */

 .whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #25d366;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.whatsapp-button img {
  width: 78px;
  height: 78px;
} 
/* ISABEL  */

.isabel-banner { 
  text-align: center;
  background-size: cover;
  background-position: center;
  padding: 10px;
  color: var(--primary-green);
  font-family: var(--font-body);
}

.isabel-title {
  font-family: var(--font-title);
  font-size: 10rem; 
  color: var(--primary-green);
  margin: 0;
}

.isabel-subtitle {
  font-style: italic;
  font-size: 2.2rem;
  color: var(--primary-green);
  margin: 0px 0;
}

.isabel-location {
  font-size: 1.0rem;
  font-weight: bold;
  color: var(--text-dark);
  margin: 10px 0 0;
  align-items: center;
  justify-content: center !important;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: var(--font-family);
  text-align: center;
}

.banner-section {
  max-width: 600px;
}

.banner-section h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.banner-section h1 .large-text {
  font-size: 3.5rem;
  color: var(--primary-green);
}

.banner-section h1 .highlight {
  color: var(--secondary-green);
}

.banner-section p {
  font-size: 1.0rem;
  line-height: 1.5;
  color: var(--text-dark);
}

.banner-section p .bold {
  font-weight: bold;
  color: var(--primary-green);
}

.banner-divider {
  width: 2px;
  height: 130px;
  background-color: var(--txtaccent4);
 
}

.divider-wrapper {
  display: flex;
  justify-content: center !important;
  align-items: center !important; 
  gap: 10px;
  
}

.img1 {
  position: absolute; /* Garante que o logo fique sobre o carousel */
  top: 50%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta o ponto de referência para o centro */
  z-index: 100; /* Coloca o logo acima das imagens do carousel */
  width: 500px; /* Largura padrão para telas maiores */
  height: 500px; /* Altura padrão para telas maiores */
  max-width: 100%; /* Garante que o logo não ultrapasse o contêiner */
  max-height: 100%; /* Garante que a altura seja controlada */
}

/* Ajuste para tablets e telas menores que 768px */
@media (max-width: 768px) {
  .img1 {
    width: 60%; /* Reduz a largura do logo */
    height: auto; /* Mantém a proporção original */
    max-height: 200px; /* Limita a altura */
    top: 50%; /* Mantém a centralização vertical */
    left: 50%; /* Mantém a centralização horizontal */
    transform: translate(-50%, -50%); /* Mantém o logo centralizado */
  }
}

/* Ajuste para telas menores que 480px */
@media (max-width: 480px) {
  .img1 {
    width: 60%; /* Reduz ainda mais a largura */
    height: auto; /* Mantém a proporção original */
    max-height: 150px; /* Limita a altura */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Mantém o logo centralizado */
  }
}



/* Garantindo que o carrossel não seja afetado */
.carousel {
  margin-top: 0px; /* Adiciona um espaço entre o logo e o carrossel em dispositivos móveis */
}



@media (max-width: 768px) {
  .banner-content {
    flex-direction: column;
    gap: 20px;
  }
  .banner-divider {
    display: none;
  }
}

.container { 
  width: 95%;
  margin: 0px auto;
  padding: 0px;

}
.container-top {
  width: 95%;
  margin: 0 auto;
  padding: 0;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}


.container2 {
  width: 95%;
  margin: 0px auto;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
}


header.top {
  padding: 0px 0;
}

.container-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-center {
  display: flex;
  gap: 30px;
}

.nav-link:hover {
  transform: translateY(-5px);
}

.nav-link i {
  font-size: 1.5rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto; 
}

/* Sec-0 */

#sec-0 {
  background-color: ; /* cor de fundo sec-0 */
}

#sec-0 header.top p:nth-of-type(2) {
  justify-content: flex-end;
}

#sec-0 header:last-of-type {
  background-color:var(--bgaccent);
  position: relative;
}

#sec-0 header:last-of-type .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.65rem 0px;
  position: relative;
}
#sec-0 header:last-of-type h1 {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
  color: var(--haccent);
  padding: 0px;
  margin: 0px;
}
#sec-0 header:last-of-type h1 > span {
  color: var(--txtaccent);
}
#sec-0 header:last-of-type h1 p {
  font-size: 0.85rem;
  font-style: bold;
  color: var(--textaccent2);
  margin: 0px;
}
#sec-0 header label {
  color: var(--haccent);
  font-size: 2rem;
}
#sec-0 header nav a {  /* botoes navbar */
  display: block;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 22px !important; /* fix */
  color: var(--text-light);
  text-align: center;
  padding: 10px;
  transition: background-color 0.6s ease;
  border-bottom: solid 1px var(--txtaccent1);
  align-items: center ;
}
#sec-0 header nav a:hover {
  background-color: var(--text-dark);
  color: var(--txtaccent);
}
#sec-0 header nav i {
  display: flex;
  text-decoration: none;
  color: var(--haccent);
  text-align: center;
  align-items: center;
  padding: 10px;
  font-size: 1.2em;
  transition: transform 0.3s ease-in-out;
  width: fit-content;
  margin: 0px auto;
}
#sec-0 article {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 3rem 0px;
  flex-direction: column;
  gap: 2rem;
}
#sec-0 .container1 {
  max-width: 80%; 
  margin: 0 auto;
  padding: 20px;
  
}
#sec-0 article h1 {
  font-weight: normal;
  font-size: 1.25rem;
  color: var(--txtaccent);
  margin-bottom: 10px;
}
#sec-0 article h2 {
  text-transform: uppercase;
  font-size: 1.85rem;
  color: var(--text-dark);
  line-height: 1em;
  margin-bottom: 15px;
  font-weight: 700;
}
#sec-0 article h2 span {
  color: var(--bgaccent_withOpacity);
}
#sec-0 article p {
  color: var(--text-dark);
  margin-bottom: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
  font-weight: bold; /
  font-family: "Georgia", serif; 
  font-style: italic;
  }
#sec-0 article a {
  color: var(--haccent2);
  background-color: var(--txtaccent4);
  display: inline-block;
  padding: 8px 15px;
  margin-left: 5px;
  border: solid 1px var(--haccent2);
  text-decoration: none;
  text-transform: none;
  font-weight: bold;
}
#sec-0 article a:hover {
  background-color: var(--haccent2);
  color: var(--txtaccent);
}

/* sec-1 */

#sec-1 {
  background-color: var(--bgaccent_withOpacity
  );
}
#sec-1 article {
  padding-top: 20px;
  text-align: center;
}
#sec-1 article h1 {
  font-size: 1.85rem;
  color: var(--haccent);
  font-weight: 700;
  text-transform: none;
}
#sec-1 article h2 {
  font-size: 1.1rem;
  font-weight: 500;
  color:var(--txtaccent);
}
#sec-1 article p {
  font-size: 1rem;
  text-align: justify;
  margin: 1.3rem 0px 1.1rem;
  color: var(--txtaccent);
}
#sec-1 article a {
  color: var(--bgaccent) !important;
  background-color: var(--haccent);
  text-transform: none;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 5px;
  display: inline-block;
  width: fit-content;
}
#sec-1 aside {
  width: 95%;
  margin: 25px auto 0px;
}
#sec-1 aside img {
  max-width: 100%;
}

#mission-vision-values {
  padding: 50px 20px;
  background-color: #f9f9f9;
  text-align: center;
}
.section-heading {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 30px;
}

/* Container dos cards */
.mv-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Cada card */
.mv-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mv-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Ícone */
.mv-icon img {
  width: 64px;
  height: 64px;
  margin-bottom: 15px;
}

/* Título */
.mv-title {
padding-top: 20px;
  font-size: 1.5rem;
  color:var(--bgaccent);
  margin-bottom: 10px;
}

/* Texto */
.mv-text {
  font-size: 1rem;
  color: var(--bgaccent_withOpacity);
  line-height: 1.5;
}

/* Responsividade para tablets */
@media (max-width: 768px) {
  .mv-card {
    width: 90%;
  }

  .section-heading {
    font-size: 2rem;
  }
}

/* Responsividade para celulares */
@media (max-width: 480px) {
  .mv-card {
    width: 100%;
  }

  .section-heading {
    font-size: 1.8rem;
  }
}

/* Sec-4 */

#sec-4 {
  display:flex;
  background: linear-gradient(rgba(78, 76, 70, 0.8), rgba(78, 76, 70, 0.8)),
    url(../Images/bg2.jpg) no-repeat center center/cover;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
#sec-4 h1 {
  text-transform: none;
  font-size: 1.7rem;
  margin-bottom: 1.6rem;
  color: var(--txtaccent);
  font-weight: 800;
}
#sec-4 p {
  color: var(--txtaccent);
  font-size: 0.9rem;
  padding: 0px 6rem;
  margin-bottom: 2rem;
}

#sec-4 .filter a:hover {
  background-color: var(--bgaccent);
}
#sec-4 .cont {
  width: 90%;
  margin: 0px auto;
}
#sec-4 .cont > img {
  width: 100%;
  display: block;
  margin: 0px auto 20px;
}

#sec-4 aside img {
  margin-bottom: 10px;
  width: 48%;
}

/* SEC-5 */

#sec-5 {
  background: var(--text-light);
  text-align: center;
  font-size: 0.9rem;
}

#sec-5 h1 {
  text-transform: none;
  font-size: 1.7rem;
  margin-bottom: 1.6rem;
  color: var(--txtaccent4);
  font-weight: 800;
}

#sec-5 h1 + p {
  color: var(--txtaccent4);
  padding: 0px 2rem;
  margin-bottom: 4rem;
}

#sec-5 .cont {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 5vh;
}

#sec-5 article {
  width: 70%;
}


#sec-5 .contactUs {
  padding-top: 1.5rem;
  background-color:#1c1c1c;
  border-bottom: solid 0rem var(--textaccent3);
}
#sec-5 .contactUs h1 {
  color: var(--text-light);
  text-transform: none;
  font-size: 1.52rem;
  font-weight: 800;
  margin: 0px;
  
}
#sec-5 .contactUs h2 {
  font-size: 2rem;
  font-weight: normal;
  text-transform: none;
  margin: 0px;
  color: var(--txtaccent);
  align-items: start;
}

#sec-5 .contactUs form {
  padding: 10px 0px 1.7rem;
  position: relative;
}
#sec-5 .contactUs form input {
  padding: 6px 15px;
  margin: 0px 5px 10px 0px;
  border-radius: 6px;
  border-style: none;
  color: var(--textaccent3);
}
#sec-5 .contactUs form input[type="submit"] {
  padding: 6px 20px;
  text-transform: none;
  font-weight: 600;
  background-color: var(--textaccent3);
  color: var(--txtaccent5);
}
#sec-5 .contactUs form input:focus {
  box-shadow: inset 0px 0px 10px var(--txtaccent1);
}
#sec-5 .contactUs form input[type="submit"]:hover {
  box-shadow: inset 0px 0px 10px var(--txtaccent1);
}
#sec-5 .contactUs form input + p {
  width: 100%;
  margin: 0px auto;
  color:#1c1c1c ;
  font-style: italic;
  font-size: 0.8rem;
  line-height: 1.1em;
  padding: 0px 6px;
  position: absolute;
  bottom: 2px;
}

/* SEC-6 */

#sec-6 {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(../Images/banner.jpg) no-repeat center center/cover;
  padding-top: 2rem;
  padding-bottom: 4rem;
  font-size: 0.8rem;
}
#sec-6 .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  
  row-gap: 15px;
  color: var(--txtaccent5);
}
#sec-6 h1 {
  font-weight: 300;
  font-size: 1.25rem;
  margin-bottom: 1.1rem;
}
#sec-6 .about h2 {
  font-size: 1.3rem;
  font-weight: 800;
  font-style: italic;
  color: var(--haccent);
  padding-bottom: 5px;
  margin-bottom: 1rem;
}
#sec-6 .about h2 p {
  color: var(--txtaccent1);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0px;
}
#sec-6 .about > p {
  margin-bottom: 1.5rem;
}
#sec-6 .about a {
  display: inline-flex;
  padding: 5px;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: var(--haccent);
  font-size: 1.25rem;
  color: var(--bgaccent);
  justify-content: center;
  align-items: center;
  transition: background-color ease-in;
  margin-top: 5px;
  text-decoration: none;
}
#sec-6 .about i {
  vertical-align: baseline;
}
#sec-6 .about a:hover {
  background-color: var(--txtaccent5);
}
#sec-6 .links a {
  color: inherit;
  text-decoration: none;
  display: block;
}
#sec-6 .links a {
  position: relative;
  padding: 0.2em;
  padding-left: 25px;
}
#sec-6 .links a::before {
  content: "";
  position: absolute;
  border: 0.35em solid transparent;
  border-left-color: var(--txtaccent5);
  left: 0px;
  top: 0.8em;
}
#sec-6 .links a:hover {
  text-decoration: underline;
}
#sec-6 .posts a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 1.1em;
  transition: background-color 0.7s ease-out;
  margin-left: -5px;
}
#sec-6 .posts a:hover {
  background-color: var(--haccent_withOpacity);
  color: var(--txtaccent);
}
#sec-6 .posts a span {
  display: inline-flex;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  border: solid 2px var(--txtaccent5);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px;
  margin-right: 10px;
}
#sec-6 .contact p {
  margin-bottom: 15px;
  display: flex;
  margin-left: -1em;
}
#sec-6 .contact p::before {
  font-family: fontAwesome;
  display: inline-flex;
  min-width: 2em;
  justify-content: center;
  font-size: 1.2em;@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:ital,wght@1,700&display=swap');
}

/* sec-7 */

#sec-7 {
  background-color: #1a1c27;
  padding: 20px 0px 10px;
  text-align: center;
  font-size: 0.7rem;
}

#sec-7 p {
  color: var(--txtaccent5);
}
#sec-7 p span {
  color: var(--haccent);
}

/* ISABEL */

.main-container {
  background: linear-gradient(to right, #bcbdbc, #b3d1af);
  padding: 30px;
}


.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.banner-section {
  max-width: 600px;
}

.banner-section h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #014701;
  margin-bottom: 10px;
}

.banner-section .large-text {
  font-size: 2.5rem;
  color: #014701;
}

.banner-section .highlight {
  color: #005500;
}

.banner-divider {
  width: 2px;
  height: 130px;
  background-color: #000;
}

.divider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.isabel-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.isabel-btn-primary {
  background-color: green;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.isabel-btn-primary:hover {
  background-color: #005500;
}

/* @MEDIA */

@media (max-width: 768px) {
  .custom-carousel {
    height: 300px;
  }

  .card {
    width: 100%;
  }

  .isabel-title {
    font-size: 8rem;
  }

  .banner-content {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .custom-carousel {
    height: 250px;
  }

  .isabel-title {
    font-size: 6rem;
  }
}
#sec-6 .contact p:first-of-type::before {
  content: "\f3c5";
}
#sec-6 .contact p:nth-of-type(2)::before {
  content: "\f0e0";
}
#sec-6 .contact p:last-of-type::before {
  content: "\f3cd";
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
  .container {
    width: 720px;
  }
  #sec-0 header.top {
    padding-top: 0px;
  }
  #sec-0 {
    background-position: center center;
  }
  #sec-0 header.top .container {
    justify-content: flex-start;
  }
  #sec-0 header.top p {
    width: fit-content;
    margin-right: 10px;
  }
  #sec-0 .top .social {
    width: fit-content;
    flex-grow: 1;
  }
  #sec-0 header label {
    display: none;
  }
  #sec-0 header nav a {
    border-style: none;
  }
  #sec-0 input + nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: fit-content;
    position: static;
    border-radius: none;
    font-size: 0.8rem;
  }
  #sec-0 input:checked + nav {
    display: flex;
  }
  #sec-0 article {
    padding: 0px;
  }
  #sec-0 article h1 {
    font-size: 2rem;
  }
  #sec-0 article h2 {
    font-size: 3.5rem;
  }
  #sec-0 #searchBox {
    min-width: 35%;
  }
  #sec-1 .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #sec-1 article {
    padding: 0px;
    text-align: left;
    width: 51%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  #sec-1 article p {
    padding-right: 1rem;
  }
  #sec-1 aside {
    width: 48%;
    margin: 0px;
    text-align: right;
  }

  #sec-4 .cont {
    width: 100%;
    margin: 0px;
  }
  #sec-4 aside img {
    margin-bottom: 15px;
    width: 48%;
  }
  #sec-5 h1 + p {
    padding: 0px 6rem;
  }
  #sec-5 .cont {
    gap: 5vw;
  }
  #sec-5 article {
    width: 43%;
  }
  #sec-5 .contactUs form input + p {
    bottom: 4px;
  }
  #sec-6 .container {
    justify-content: space-between;
    row-gap: 25px;
  }
  #sec-6 .about {
    width: 65%;
    
  }
  #sec-6 .links {
    width: 20%;
  }
  #sec-6 .posts {
    width: 65%;
  }
  #sec-6 .contact {
    width: 20%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 15px;
  }
  .container {
    width: 1140px;
  }
  #sec-0 .top .social {
    gap: 10px;
  }
  #sec-0 header:last-of-type .container {
    padding: 0.95rem 0px;
  }
  #sec-0 header nav a {
    margin-right: 10px;
    font-size: 0.92rem;
  }
  #sec-0 article p {
    padding-left: 14rem;
    padding-right: 14rem;
  }
  #sec-1 article h1 {
    font-size: 2.7rem;
  }
  #sec-1 article h2 {
    font-size: 1.8rem;
  }

  #sec-3 {
    padding-top: 70px;
    padding-bottom: 60px;
  }
  #sec-3 .card {
    width: 31%;
  }
  #sec-3 .card:last-child {
    margin-left: 0px;
    margin-right: 0px;
  }
  #sec-4 .cont {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  #sec-4 .cont > img {
    width: 50%;
    margin: 0px;
  }
  #sec-4 aside {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 49%;
    gap: 10px;
  }
  #sec-4 aside img {
    width: 49%;
    margin: 0px;
  }
  #sec-5 {
    background-position: right center;
  }
  #sec-5 .cont {
    justify-content: space-between;
    gap: 0px;
    padding-bottom: 25px;
  }
  #sec-5 article {
    width: 30%;
  }
  #sec-5 .contactUs > .container {
    display: flex;
    justify-content: space-between;
  }
  #sec-5 .contactUs aside {
    width: 45%;
    text-align: left;
  }
  #sec-5 .contactUs form {
    width: 45%;
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #sec-5 .contactUs form input {
    margin-right: 15px;
  }
  #sec-5 .contactUs form input:not(input[type="submit"]) {
    flex-grow: 1;
  }
  #sec-5 .contactUs form input + p {
    text-align: left;
  }
  #sec-6 .container {
    justify-content: space-between;
    row-gap: 25px;
  }
  #sec-6 .about {
    width: 30%;
  }
  #sec-6 .links {
    width: 15%;
  }
  #sec-6 .posts {
    width: 20%;
  }
  #sec-6 .contact {
    width: 18%;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 17px;
  }
  .container {
    width: 1340px;
  }
}




@media (max-width: 768px) {
  .carousel-inner img {
    max-width: 400px; 
    max-height: 300px; 
  }
}

@media (max-width: 576px) {
  .carousel-inner img {
    max-width: 300px; 
    max-height: 200px; 
  }
}



@media (max-width: 600px) {
  .whatsapp-button {
      width: 50px;
      height: 50px;
  }



  @media (max-width: 768px) {
    .custom-carousel {
      height: 300px;
    }
  }
  
  @media (max-width: 480px) {
    .custom-carousel {
      height: 250px;
    }
  }
  
  @media (min-width: 576px) {
    html {
      font-size: 13px;
    }
    .container {
      width: 520px;
      
    }
    #sec-0 header nav a {
      background-color: transparent;
    }
    #sec-0 input + nav {
      background-color: transparent;
      position: absolute;
      top: 100%;
      right: 0%;
      width: 35%;
      border-bottom-left-radius: 10px;
    }
   
  }
  
